/*.app-draggable {
   position:absolute;
   width: 50px;
   height: 50px;
}

.position-1 {left: 0px;background-color: red}
.position-2 {left: 50px;background-color: blue}
.position-3 {left: 100px;background-color: green}
.position-4 {left: 150px;background-color: black}*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
   margin: 0;
   overflow:hidden;
   background: #0ca3d2;
   font-family: "Roboto",serif;
}
.sidebar {
   width: 20%;
   height: 100%;
   /*float: left;*/
   position: fixed;
   top:0;
   bottom:0;
   background-color: #eee;
   box-shadow: 0 0 5px #3d3d3d;
}
ul {width:100%;padding: 0;margin: 0;}
li { list-style: none; margin: 0; padding: 5px 10px;}
li a {text-decoration: none;font-size: .8em;font-weight: bold;}

.selection{
   float: right;
   width: 80%;
   height: 650px;
   max-height: 100%;
   /*background-color: #eee;*/
   position:relative;
}
.selection li {
    background-color: #eee;
    box-shadow: 0 0 3px #3d3d3d;
    border-radius: 5px;
}

.selection li.ui-draggable {
   position: absolute;
}

.submit {
   width: 50%;
   margin: 0 auto;
   padding: 5px 10px;
   background-color: #3d3d3d;
   color: white;
   position: absolute;
   bottom: 10px;
   left: 50px;
   text-align: center;
}

.hidden {
   display: none;
}

.submit a {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   vertical-align: middle;
}

.recycle {
   width: 120px;
   height: 125px;
   background-image: url(../img/recycle.png);
   background-size: 85px 85px;
   position:fixed;
   bottom: 10px;
   background-repeat: no-repeat;
   right: 15px;
   z-index: 100;
}

.sidebar ul li img {
   width: 36px;
   height: 36px;
   vertical-align: middle;
   margin-right: 10px;
}

.selection li a img {
   width: 36px;
   height: 36px;
   vertical-align: middle;
   margin-right: 10px;
}

a > i {
   margin-right: 15px;
   font-size: 13px !important;
}
